@import "tailwindcss";

/* body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0093ee 0%, #12e3ff 100%);
  
} */

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
